In [107]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
from pyspark.sql import functions as F, types as T
import datetime
data_filter = datetime.date(2015, 10, 1)

data_1 = datetime.date(2015, 9, 30)
data_2 = datetime.date(2015, 10, 1)
data_3 = datetime.date(2015, 10, 2)
data_4 = datetime.date(2017, 12, 21)

# fundo_dia = spark.createDataFrame([(data_1, '486371', '238'),
#                                   (data_2, '486371', '238'),
#                                   (data_3, '486371', '238'),
#                                   (data_4, '486371', '238')
#                                   ],['data', 'codfundo', 'codtipo'] )

In [108]:
fundo_dia = spark.createDataFrame([
                                    (data_2, '486371', '238'),
                                  ],['data', 'codfundo', 'codtipo'] )

In [109]:
dim_categoria_fundo_aux_df = spark.read\
    .parquet("dim_categoria_fundo_aux").filter(F.col("categoria_codigo_fundo") == '486371')
dim_categoria_fundo_aux_df = dim_categoria_fundo_aux_df\
    .groupBy(['categoria_codigo_fundo',
              'categoria_tipo_descricao',
              'categoria_codigo_si',
              'categoria',
              'indicador_atual',
              'categoria_data_inicio',
              'categoria_data_fim'])\
    .pivot("categoria_codigo_si").agg(F.first("categoria"))
dim_categoria_fundo_aux_df = dim_categoria_fundo_aux_df.drop('categoria')

In [110]:
check_columns = [str(i) for i in range(1, 22)]
for column in check_columns:
    if column not in dim_categoria_fundo_aux_df.columns:
        dim_categoria_fundo_aux_df = dim_categoria_fundo_aux_df.withColumn(
            column, F.lit(None))

In [111]:
dim_categoria_fundo_aux_df = dim_categoria_fundo_aux_df\
    .withColumnRenamed("1", "orgao_regulador")\
    .withColumnRenamed("2", "status_fundo")\
    .withColumnRenamed("3", "previdencia")\
    .withColumnRenamed("4", "alavancado")\
    .withColumnRenamed("5", "tipo_investidor")\
    .withColumnRenamed("6", "longo_prazo_cvm")\
    .withColumnRenamed("7", "tributacao_alvo")\
    .withColumnRenamed("8", "classe_cvm")\
    .withColumnRenamed("9", "credito_privado")\
    .withColumnRenamed("10", "invest_no_exterior")\
    .withColumnRenamed("11", "resp_limites_e_a")\
    .withColumnRenamed("12", "aplicacao_automatica")\
    .withColumnRenamed("13", "foco_atuacao")\
    .withColumnRenamed("14", "previdenciario")\
    .withColumnRenamed("15", "sub_classe_cvm")\
    .withColumnRenamed("16", "classe_anbima")\
    .withColumnRenamed("17", "categoria")\
    .withColumnRenamed("18", "sub_categoria")\
    .withColumnRenamed("19", "benchmark")\
    .withColumnRenamed("20", "multigestor")\
    .withColumnRenamed("21", "invest_qualificado")

dim_categoria_fundo_aux_df = dim_categoria_fundo_aux_df.orderBy('categoria_data_inicio')

In [112]:
dimension = fundo_dia.alias('fd_pl').join(dim_categoria_fundo_aux_df.alias('cat'),
        (
            fundo_dia.codfundo == dim_categoria_fundo_aux_df.categoria_codigo_fundo
        ) &
        (
            fundo_dia.data.between(
            dim_categoria_fundo_aux_df.categoria_data_inicio,
            dim_categoria_fundo_aux_df.categoria_data_fim)
        ), 'left')

In [113]:
dimension.orderBy('categoria_codigo_si')\
.select(['codfundo', 'data', 'codtipo', 'categoria_data_inicio','categoria_data_fim',
        'categoria_codigo_si', 
        'orgao_regulador',
        'previdencia',
        'alavancado',
        'longo_prazo_cvm',
        'tributacao_alvo',
        'classe_cvm',
        'credito_privado',
        'invest_no_exterior',
        'resp_limites_e_a',
        'aplicacao_automatica',
        'previdenciario',
        'sub_classe_cvm',
        'classe_anbima',
        'categoria',
        'sub_categoria',
        'benchmark',
        'multigestor',
        'invest_qualificado',])\
.toPandas()

,codfundo,data,codtipo,categoria_data_inicio,categoria_data_fim,categoria_codigo_si,orgao_regulador,previdencia,alavancado,longo_prazo_cvm,...,resp_limites_e_a,aplicacao_automatica,previdenciario,sub_classe_cvm,classe_anbima,categoria,sub_categoria,benchmark,multigestor,invest_qualificado
0,486371,2015-10-01,238,2015-04-10,2017-12-21,1,CVM,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,486371,2015-10-01,238,2015-04-10,2017-12-21,2,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,486371,2015-10-01,238,2015-04-10,2017-12-21,3,None,Não,None,None,...,None,None,None,None,None,None,None,None,None,None
3,486371,2015-10-01,238,2015-04-10,2017-12-21,4,None,None,Não,None,...,None,None,None,None,None,None,None,None,None,None
4,486371,2015-10-01,238,2015-04-10,2017-12-21,5,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,486371,2015-10-01,238,2015-10-01,2017-12-21,5,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,486371,2015-10-01,238,2015-04-10,2017-12-21,6,None,None,None,Não,...,None,None,None,None,None,None,None,None,None,None
7,486371,2015-10-01,238,2015-04-10,2017-12-21,7,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,486371,2015-10-01,238,2015-10-01,2017-12-21,8,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,486371,2015-10-01,238,2015-04-10,2017-12-21,8,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
10,486371,2015-10-01,238,2015-04-10,2017-12-21,9,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
11,486371,2015-10-01,238,2015-10-01,2017-12-21,10,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
12,486371,2015-10-01,238,2015-04-10,2017-12-21,10,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13,486371,2015-10-01,238,2015-04-10,2017-12-21,11,None,None,None,None,...,Não se Aplica,None,None,None,None,None,None,None,None,None
14,486371,2015-10-01,238,2015-04-10,2017-12-21,12,None,None,None,None,...,None,Não se Aplica,None,None,None,None,None,None,None,None
15,486371,2015-10-01,238,2015-04-10,2017-12-21,13,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
16,486371,2015-10-01,238,2015-04-10,2017-12-21,14,None,None,None,None,...,None,None,Não,None,None,None,None,None,None,None
17,486371,2015-10-01,238,2015-10-01,2017-12-21,15,None,None,None,None,...,None,None,None,Não se Aplica,None,None,None,None,None,None
18,486371,2015-10-01,238,2015-04-10,2017-12-21,15,None,None,None,None,...,None,None,None,ND,None,None,None,None,None,None
19,486371,2015-10-01,238,2015-04-10,2017-12-21,16,None,None,None,None,...,None,None,None,None,ND,None,None,None,None,None
20,486371,2015-10-01,238,2015-10-01,2017-12-21,16,None,None,None,None,...,None,None,None,None,FIP,None,None,None,None,None
21,486371,2015-10-01,238,2015-10-01,2017-12-21,17,None,None,None,None,...,None,None,None,None,None,Participações,None,None,None,None
22,486371,2015-10-01,238,2015-04-10,2017-12-21,17,None,None,None,None,...,None,None,None,None,None,ND,None,None,None,None
23,486371,2015-10-01,238,2015-10-01,2017-12-21,18,None,None,None,None,...,None,None,None,None,None,None,Participações,None,None,None
24,486371,2015-10-01,238,2015-04-10,2017-12-21,18,None,None,None,None,...,None,None,None,None,None,None,ND,None,None,None
25,486371,2015-10-01,238,2015-04-10,2017-12-21,19,None,None,None,None,...,None,None,None,None,None,None,None,ND,None,None
26,486371,2015-10-01,238,2015-10-01,2017-12-21,19,None,None,None,None,...,None,None,None,None,None,None,None,Não se Aplica,None,None
27,486371,2015-10-01,238,2015-10-01,2017-12-21,20,None,None,None,None,...,None,None,None,None,None,None,None,None,Não se Aplica,None
28,486371,2015-10-01,238,2015-04-10,2017-12-21,20,None,None,None,None,...,None,None,None,None,None,None,None,None,ND,None
29,486371,2015-10-01,238,2015-10-01,2017-12-21,21,None,None,None,None,...,None,None,None,None,None,None,None,None,None,Inv. Qualificado
30,486371,2015-10-01,238,2015-04-10,2017-12-21,21,None,None,None,None,...,None,None,None,None,None,None,None,None,None,ND

In [114]:
a = dimension.groupBy([
    'data',
    'codfundo',
    'codtipo']) \
    .agg(
    (F.first('orgao_regulador', True)).alias("orgao_regulador"),
    (F.first('status_fundo', True)).alias("status_fundo"),
    (F.first('previdencia', True)).alias("previdencia"),
    (F.first('alavancado', True)).alias("alavancado"),
    (F.first('tipo_investidor', True)).alias("tipo_investidor"),
    (F.first('longo_prazo_cvm', True)).alias("longo_prazo_cvm"),
    (F.first('tributacao_alvo', True)).alias("tributacao_alvo"),
    (F.first('classe_cvm', True)).alias("classe_cvm"),
    (F.first('credito_privado', True)).alias("credito_privado"),
    (F.first('invest_no_exterior', True)).alias("invest_no_exterior"),
    (F.first('resp_limites_e_a', True)).alias("resp_limites_e_a"),
    (F.first('aplicacao_automatica', True)).alias("aplicacao_automatica"),
    (F.first('foco_atuacao', True)).alias("foco_atuacao"),
    (F.first('previdenciario', True)).alias("previdenciario"),
    (F.first('sub_classe_cvm', True)).alias("sub_classe_cvm"),
    (F.first('classe_anbima', True)).alias("classe_anbima"),
    (F.first('categoria', True)).alias("categoria"),
    (F.first('sub_categoria', True)).alias("sub_categoria"),
    (F.first('benchmark', True)).alias("benchmark"),
    (F.first('multigestor', True)).alias("multigestor"),
    (F.first('invest_qualificado', True)).alias("invest_qualificado")
)

In [115]:
a.toPandas()

,data,codfundo,codtipo,orgao_regulador,status_fundo,previdencia,alavancado,tipo_investidor,longo_prazo_cvm,tributacao_alvo,...,aplicacao_automatica,foco_atuacao,previdenciario,sub_classe_cvm,classe_anbima,categoria,sub_categoria,benchmark,multigestor,invest_qualificado
0,2015-10-01,486371,238,CVM,FI,Não,Não,Restrito,Não,Não Aplicável,...,Não se Aplica,Não,Não,Não se Aplica,ND,Participações,Participações,ND,Não se Aplica,Inv. Qualificado

In [25]:
dimension.groupBy(['codfundo','data', 'codtipo']).agg((F.min('categoria')).alias('categoria') ).toPandas()

  codfundo        data codtipo         categoria
0   486371  2015-09-30     238                ND
1   486371  2015-10-01     238  Inv. Qualificado
2   486371  2015-10-02     238  Inv. Qualificado
3   486371  2017-12-21     238  Inv. Qualificado

In [57]:
fundo_dia.show()

+----------+--------+-------+
|      data|codfundo|codtipo|
+----------+--------+-------+
|2015-09-30|  486371|    238|
|2015-10-01|  486371|    238|
|2015-10-02|  486371|    238|
|2017-12-21|  486371|    238|
+----------+--------+-------+

In [12]:
fundo_dia_df = spark.read.parquet("fundos_dia.parquet").filter( 
        (F.col('codfundo') == '486371') & 
        (F.to_date(F.col('data')) == data_filter) 
)

In [13]:
fundo_dia_df.printSchema()

root
 |-- data: timestamp (nullable = true)
 |-- varpl: double (nullable = true)
 |-- vac: double (nullable = true)
 |-- codtipo: short (nullable = true)
 |-- valcota: double (nullable = true)
 |-- rentsem: double (nullable = true)
 |-- rentano: double (nullable = true)
 |-- rentmes: double (nullable = true)
 |-- pl: double (nullable = true)
 |-- datahora: timestamp (nullable = true)
 |-- rentdia: double (nullable = true)
 |-- codmoeda: string (nullable = true)
 |-- codfundo: string (nullable = true)

In [14]:
fundo_dia_df.groupBy([F.col('codfundo')]).count().filter(F.col('count') > 1).count()

0

In [15]:
fundo_dia_df = fundo_dia_df.select([
    'codfundo', 
    'data',
    'codtipo',
    'pl',
    'valcota',
    'rentdia',
    'rentmes',
    'rentano',
    'rentsem',
    'varpl',
    'codmoeda',
    'vac', 
    'datahora',
])

In [16]:
dim_categoria_fundo_aux_df = spark.read\
    .parquet("dim_categoria_fundo_aux").filter(F.col("categoria_codigo_fundo") == '486371')
dim_categoria_fundo_aux_df = dim_categoria_fundo_aux_df\
        .groupBy(['categoria_codigo_fundo',
                'categoria_tipo_descricao',
                'categoria',
                'categoria_codigo_si',
                'indicador_atual',
                'categoria_data_inicio',
                'categoria_data_fim']).pivot("categoria_codigo_si").agg(F.first("categoria"))

In [17]:
dim_categoria_fundo_aux_df = dim_categoria_fundo_aux_df\
        .withColumnRenamed("1", "orgao_regulador")\
        .withColumnRenamed("2", "status_fundo" )\
        .withColumnRenamed("3", "previdencia")\
        .withColumnRenamed("4", "alavancado")\
        .withColumnRenamed("5", "tipo_investidor")\
        .withColumnRenamed("6", "longo_prazo_cvm")\
        .withColumnRenamed("7", "tributacao_alvo")\
        .withColumnRenamed("8", "classe_cvm")\
        .withColumnRenamed("9", "credito_privado")\
        .withColumnRenamed("10", "invest_no_exterior")\
        .withColumnRenamed("11", "resp_limites_e_a")\
        .withColumnRenamed("12", "aplicacao_automatica")\
        .withColumnRenamed("13", "foco_atuacao")\
        .withColumnRenamed("14", "previdenciario")\
        .withColumnRenamed("15", "sub_classe_cvm")\
        .withColumnRenamed("16", "classe_anbima")\
        .withColumnRenamed("17", "_categoria")\
        .withColumnRenamed("18", "sub_categoria")\
        .withColumnRenamed("19", "benchmark")\
        .withColumnRenamed("20", "multigestor")\
        .withColumnRenamed("21", "invest_qualificado")

In [18]:
dimension = fundo_dia_df.alias('fd_pl').join(dim_categoria_fundo_aux_df.alias('cat'),
    (fundo_dia_df.codfundo == dim_categoria_fundo_aux_df.categoria_codigo_fundo) &
    (fundo_dia_df.data.between(dim_categoria_fundo_aux_df.categoria_data_inicio,
                                dim_categoria_fundo_aux_df.categoria_data_fim)), 'left')

In [19]:
aggr =  dimension.groupBy([
            F.to_date('fd_pl.data').alias('data'),
            'codfundo',
            'codtipo',
            'pl',
            'valcota',
            'rentdia',
            'rentmes',
            'rentano',
            'rentsem',
            'varpl',
            'codmoeda',
            'vac',
            'datahora']) \
            .agg(
            (F.first('cat.orgao_regulador', True)).alias("orgao_regulador"),
            (F.first('cat.status_fundo', True)).alias("status_fundo"),
            (F.first('cat.previdencia', True)).alias("previdencia"),
            (F.first('cat.alavancado', True)).alias("alavancado"),
            (F.first('cat.tipo_investidor', True)).alias("tipo_investidor"),
            (F.first('cat.longo_prazo_cvm', True)).alias("longo_prazo_cvm"),
            (F.first('cat.tributacao_alvo', True)).alias("tributacao_alvo"),
            (F.first('cat.classe_cvm', True)).alias("classe_cvm"),
            (F.first('cat.credito_privado', True)).alias("credito_privado"),
            (F.first('cat.invest_no_exterior', True)).alias("invest_no_exterior"),
            (F.first('cat.resp_limites_e_a', True)).alias("resp_limites_e_a"),
            (F.first('cat.aplicacao_automatica', True)).alias("aplicacao_automatica"),
            (F.first('cat.foco_atuacao', True)).alias("foco_atuacao"),
            (F.first('cat.previdenciario', True)).alias("previdenciario"),
            (F.first('cat.sub_classe_cvm', True)).alias("sub_classe_cvm"),
            (F.first('cat.classe_anbima', True)).alias("classe_anbima"),
            (F.first('cat.categoria', True)).alias("categoria"),
            (F.first('cat.sub_categoria', True)).alias("sub_categoria"),
            (F.first('cat.benchmark', True)).alias("benchmark"),
            (F.first('cat.multigestor', True)).alias("multigestor"),
            (F.first('cat.invest_qualificado', True)).alias("invest_qualificado")
        )
aggr.count()

Py4JJavaError: An error occurred while calling o607.count.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 2 in stage 18.0 failed 1 times, most recent failure: Lost task 2.0 in stage 18.0 (TID 1067, localhost, executor driver): java.lang.OutOfMemoryError: Java heap space
	at org.apache.parquet.bytes.BytesInput$StreamBytesInput.toByteArray(BytesInput.java:262)
	at org.apache.parquet.bytes.BytesInput.toByteBuffer(BytesInput.java:214)
	at org.apache.parquet.bytes.BytesInput.toInputStream(BytesInput.java:223)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.readPageV1(VectorizedColumnReader.java:613)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.access$000(VectorizedColumnReader.java:49)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader$1.visit(VectorizedColumnReader.java:547)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader$1.visit(VectorizedColumnReader.java:543)
	at org.apache.parquet.column.page.DataPageV1.accept(DataPageV1.java:95)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.readPage(VectorizedColumnReader.java:543)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.readBatch(VectorizedColumnReader.java:166)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedParquetRecordReader.nextBatch(VectorizedParquetRecordReader.java:261)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedParquetRecordReader.nextKeyValue(VectorizedParquetRecordReader.java:159)
	at org.apache.spark.sql.execution.datasources.RecordReaderIterator.hasNext(RecordReaderIterator.scala:39)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:101)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:181)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:101)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.scan_nextBatch_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.agg_doAggregateWithKeys_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:125)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:55)
	at org.apache.spark.scheduler.Task.run(Task.scala:123)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1889)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1877)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1876)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1876)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2110)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2059)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2048)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:737)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2061)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2082)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2101)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2126)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:945)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:944)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:299)
	at org.apache.spark.sql.Dataset$$anonfun$count$1.apply(Dataset.scala:2836)
	at org.apache.spark.sql.Dataset$$anonfun$count$1.apply(Dataset.scala:2835)
	at org.apache.spark.sql.Dataset$$anonfun$52.apply(Dataset.scala:3370)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3369)
	at org.apache.spark.sql.Dataset.count(Dataset.scala:2835)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.lang.OutOfMemoryError: Java heap space
	at org.apache.parquet.bytes.BytesInput$StreamBytesInput.toByteArray(BytesInput.java:262)
	at org.apache.parquet.bytes.BytesInput.toByteBuffer(BytesInput.java:214)
	at org.apache.parquet.bytes.BytesInput.toInputStream(BytesInput.java:223)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.readPageV1(VectorizedColumnReader.java:613)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.access$000(VectorizedColumnReader.java:49)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader$1.visit(VectorizedColumnReader.java:547)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader$1.visit(VectorizedColumnReader.java:543)
	at org.apache.parquet.column.page.DataPageV1.accept(DataPageV1.java:95)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.readPage(VectorizedColumnReader.java:543)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.readBatch(VectorizedColumnReader.java:166)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedParquetRecordReader.nextBatch(VectorizedParquetRecordReader.java:261)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedParquetRecordReader.nextKeyValue(VectorizedParquetRecordReader.java:159)
	at org.apache.spark.sql.execution.datasources.RecordReaderIterator.hasNext(RecordReaderIterator.scala:39)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:101)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:181)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:101)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.scan_nextBatch_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.agg_doAggregateWithKeys_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:125)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:55)
	at org.apache.spark.scheduler.Task.run(Task.scala:123)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [47]:
dimension.groupBy( dimension.codfundo , dimension.data)\
    .pivot("categoria_tipo_descricao").agg(F.first("categoria_codigo_si"))

NameError: name 'first' is not defined

In [ ]:
dimension.groupBy(dimension.codfundo, dimension.data).pivote("categoria_tipo_descricao")\
    .agg(F.first("categoria"), F.first("categoria_codigo_si"))

In [ ]:
from pyspark.sql.functions import first

(df_data
    .groupby(df_data.id, df_data.type)
    .pivot("date")
    .agg(first("ship"))
    .show())

In [46]:
test = spark.createDataFrame([
    (1, "A", 1, "201606", "10"), 
    (2, "A", 2, "201605", "9"), 
    (3, "A", 3, "201604", "8"), 
    (4, "B", 4, "201603", "7"), 
    (5, "B", 5, "201602", "6"), 
    (6, "C", 6, "201601", "5")
], ["id","type", "cost", "date", "ship"])
# , "cost", "ship"
test.show()
test = test.groupby(test.id, test.type, test.ship, test.cost)\
    .pivot("date")\
    .agg(F.first("date"))\



test.show()

+---+----+----+------+----+
| id|type|cost|  date|ship|
+---+----+----+------+----+
|  1|   A|   1|201606|  10|
|  2|   A|   2|201605|   9|
|  3|   A|   3|201604|   8|
|  4|   B|   4|201603|   7|
|  5|   B|   5|201602|   6|
|  6|   C|   6|201601|   5|
+---+----+----+------+----+

+---+----+----+----+------+------+------+------+------+------+
| id|type|ship|cost|201601|201602|201603|201604|201605|201606|
+---+----+----+----+------+------+------+------+------+------+
|  3|   A|   8|   3|  null|  null|  null|201604|  null|  null|
|  1|   A|  10|   1|  null|  null|  null|  null|  null|201606|
|  4|   B|   7|   4|  null|  null|201603|  null|  null|  null|
|  5|   B|   6|   5|  null|201602|  null|  null|  null|  null|
|  6|   C|   5|   6|201601|  null|  null|  null|  null|  null|
|  2|   A|   9|   2|  null|  null|  null|  null|201605|  null|
+---+----+----+----+------+------+------+------+------+------+

In [14]:
df = spark.createDataFrame([
    ("a", 1, "m1"), ("a", 1, "m2"), ("a", 2, "m3"),
    ("a", 3, "m4"), ("b", 4, "m1"), ("b", 1, "m2"),
    ("b", 2, "m3"), ("c", 3, "m1"), ("c", 4, "m3"),
    ("c", 5, "m4"), ("d", 6, "m1"), ("d", 1, "m2"),
    ("d", 2, "m3"), ("d", 3, "m4"), ("d", 4, "m5"),
    ("e", 4, "m1"), ("e", 5, "m2"), ("e", 1, "m3"),
    ("e", 1, "m4"), ("e", 1, "m5")], 
    ("a", "cnt", "major"))

In [15]:
df.toPandas()

    a  cnt major
0   a    1    m1
1   a    1    m2
2   a    2    m3
3   a    3    m4
4   b    4    m1
5   b    1    m2
6   b    2    m3
7   c    3    m1
8   c    4    m3
9   c    5    m4
10  d    6    m1
11  d    1    m2
12  d    2    m3
13  d    3    m4
14  d    4    m5
15  e    4    m1
16  e    5    m2
17  e    1    m3
18  e    1    m4
19  e    1    m5